<!DOCTYPE html>
<html ng-app="treeApp">
    <head>
        <meta charset='utf-8'>
        <title>Tree App</title>
        <link rel='stylesheet' href='/css/main.css' type='text/css'>
        <script src='/javascript/angular.min.js'></script>
    </head>
    <!-- fix the ng-hide and show all drama -->
    <body ng-controller="treeCtrl">
        <p>Hi</p>
        <a href="/views_script/index.html">Go!</a>
        <ng-view></ng-view>              
        <script src="/angular_route_script/angular-route.js"></script>
        <script src="/javascript/tree-ctrl.js"></script>
    </body>
</html>