<!DOCTYPE html>
<html ng-app="treeApp">
    <head>
        <meta charset='utf-8'>
        <title>Tree App</title>
        <link rel='stylesheet' href='/css/main.css' type='text/css'>
        <script src='/javascript/angular.min.js'></script>
        <!-- <script onload="show()"></script> -->
    </head>
    <!-- fix the ng-hide and show all drama -->
    <body ng-controller="treeCtrl">
        <h1>ALL DOCUMENTED TREES</h1>
        <div ng-init="treeEdit = false">
            <div ng-repeat="tree in treesFromMongo">
                <p>ID: {{tree._id}}</p>
                <p>Name: {{tree.name}}</p>
                <input type="text" ng-model="eName" placeholder="Edit Name" ng-hide="!treeEdit">
                <p>Age: {{tree.age}}</p>
                <input type="text" ng-model="eAge" placeholder="Edit Age" ng-hide="!treeEdit">
                <p>Address: {{tree.address}}</p>
                <input type="text" ng-model="eAddress" placeholder="Edit Address" ng-hide="!treeEdit">
                <br>
                <button type="submit" id="edit-button{{tree.id}}" ng-click="edit(tree, eName, eAge, eAddress)">Edit</button>
                <button type="submit" id="delete-button{{tree.id}}" ng-click="delete(tree)">Delete</button>                   
                <hr>
            </div>
        </div>
        <div>
            <input type="text" ng-model="nName" placeholder="Name">
            <input type="text" ng-model="nAge" placeholder="Age">
            <input type="text" ng-model="nAddress" placeholder="Address">
            <button ng-click="newTree(nName, nAge, nAddress)">Submit New Tree</button>
            <button type="submit" id="edit-button{{tree.id}}" ng-click="show()">Show</button>  
        </div>
        
        
        <script src="/angular_route_script/angular-route.js"></script>
        <script src="/javascript/tree-ctrl.js"></script>
    </body>
</html>
