<!DOCTYPE html>
<html ng-app="treeApp" ng-controller="treeCtrl">
    <head>
        <meta charset='utf-8'>
        <title>Tree App</title>
        <link rel='stylesheet' href='/css/main.css' type='text/css'>
        <script src='/javascript/angular.min.js'></script>
        <script ng-init="show()"></script>
    </head>
    <body>
        <h1>ALL DOCUMENTED TREES</h1>
            <div ng-repeat="tree in treesFromMongo">
                <p><b>ID:</b> {{tree._id}}</p>
                <p><b>Name:</b> {{tree.name}}</p>
                <input id="edit-name{{tree._id}}" type="text" ng-model="eName" placeholder="Edit Name" style="display: none;">
                <p><b>Age:</b> {{tree.age}}</p>
                <input id="edit-age{{tree._id}}" type="text" ng-model="eAge" placeholder="Edit Age" style="display: none;">
                <p><b>Address:</b> {{tree.address}}</p>
                <input  id="edit-address{{tree._id}}" type="text" ng-model="eAddress" placeholder="Edit Address" style="display: none;">
                <br>
                <button type="submit" id="begin-edit{{tree._id}}" ng-click="turnOnEditElements(tree)">Edit</button>
                <button type="submit" id="submit-edit{{tree._id}}" ng-click="submitEdit(tree, eName, eAge, eAddress)" style="display: none;">Submit</button>
                <button type="submit" id="delete-button{{tree._id}}" ng-click="delete(tree)">Delete</button>               
                <hr>
            </div>
        <div>
            <h1>CREATE NEW TREE</h1>
            <input type="text" ng-model="nName" placeholder="Name">
            <input type="text" ng-model="nAge" placeholder="Age">
            <input type="text" ng-model="nAddress" placeholder="Address">
            <button ng-click="newTree(nName, nAge, nAddress)">Submit New Tree</button>
        </div>
        
        
        <script src="/angular_route_script/angular-route.js"></script>
        <script src="/javascript/tree-ctrl.js"></script>
    </body>
</html>
